{% extends "base_admin.html" %}
{% block js %}
    {{ block.super }}
    <script src="/static/js/create_user.js"></script>
{% endblock %}
{% block text %}
    <div class="admintab">
        <div class="row">
            <div class="col-md-6">
                Пользователи: <br><br>
                <ul id="users">
                    {% include 'inc-users_list.html' %}
                </ul>
            </div>
        </div>
    </div>
    <form id="user_form" onclick="send_data({{ id }})">
        {% include 'inc-registration_form.html' %}
    </form>
    <input type="submit" value="Edit account" onclick="send_data()">
{% endblock %}